body {
    background-color: #F8ECC2;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #333;
  }
  
  .container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  
  .game {
    display: inline-block;
    margin-top: 50px;
  }
  
  .board-row {
    display: flex;

  }
  
  .board-cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    background-color: #0a0202;
    cursor: pointer;
    user-select: none;
    border: 2px solid #fff;
    box-shadow: 2px 2px #000;
    transition: all 0.2s ease-in-out;
  }
  
  .board-cell:hover {
    background-color: #433131;
    box-shadow: 4px 4px #000;
  }
  
  .info {
    margin-top: 50px;
    font-size: 36px;
    color: #fff;
    text-shadow: 2px 2px #000;
  }
  
  .current-player {
    display: none;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .winner {
    display: none;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
    color: #010000;
    
  }

  button {
    background-color: #f8f5f7;
    border: none;
    color: #060505;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    transform: scale(1.1);
    background-color: #0b090a;
    color: #fff;
  }
  